html {
    font-family: "Inter", serif;
    font-optical-sizing: auto;

}

header {
    width: 80%;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: 10%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    text-decoration: none;
}


header a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    font-size: 120%;
}

header button{
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

header button:hover {
    background-color: lightblue;
}

body{
    margin: auto;
    background-color: whitesmoke;

}

main        {
    width: 90%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 50px;
    margin-left: 5%;
    margin-top: 50px;
}

.bas_Acceuil {
    width: 85%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 50px;
    padding-left: 5%;
    margin-left: 5%;
    margin-top: 50px;
    height: 80%;
}

.piggy_bank {
    margin-top: 15px;
    width: 20%;
    margin-left: 20%;
    font-size: 150%;
    height: 60%;
}
.bas_Acceuil img {
    margin-top: 15px;
    margin-left: 15px;
    width: 30%;
    height: 50%;
    border-radius: 50px;
}

.bas_Acceuil_info {
    font-size: 150%;
    width: 70%;
    height: 20%;
    margin-bottom: 5%;
   margin-left: 15%;
   
}

.bas_Acceuil_info  img{
    width: 150px;
    height: 32%;
    margin-right: 15px;
   
}

main button {
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

main button:hover{
    background-color: lightblue;
}
.texte_main_promo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    font-size: 175%;
    margin-right: 50%;
    flex-direction: column;
}

.contact {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.contact_title {
    margin-left: 35%;
}

.contact_info {
    display: flex;
    flex-direction: row;
}

.contact img {
    padding-top: 10px;
}

.contact_info_style {
    width: 60%;
    margin-left: 20%;
    padding-left:40px;
    padding-top: 50px;
}

.contact_dispo {
    margin-left: 12%;
    color: white;
}

.contact_phone {
    display: flex;
    width: 60%;

}

.contact_mail {
    display: flex;
    width: 60%;

}

.contact_mail p {
    border-radius: 50px;
    margin-left: 20px;
    background-color: palegreen;
    padding: 17px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 20px;
}

.contact_phone p {
    background-color: palegreen;
    border-radius: 50px;
    margin-left: 20px;
    padding-top: 17px;
    padding-left: 10px;
}

.localisation {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-top: 40px;
}

.localisation p {
    margin-left: 20px;
    width: 75%;
}

.text_localisation {
    font-size: 135%;
    font-weight: 700;

}

.Form_contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 50px;
    margin-left: 20%;
    border-radius: 50px;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.Form_contact textarea {
    border-radius: 15px;
    resize: none;
    height: 200px;
    width: 400px;
}

.message_contact{
    padding-top: 15px;
}

.Form_info input {
    border-radius: 15px;
    height: 30px;
}

.Button_submit {
    padding-top: 20px;
}

.message_contact {
    display: flex;
    flex-direction: column;
}

footer {
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

footer a {
    color: black;
    text-decoration: none;
}